<div class="flex flex-col flex-auto min-w-0">

    <!-- Header -->
    <div class="bg-card">
        <div class="flex flex-col w-full max-w-screen-xl mx-auto px-6 sm:px-8">
            <div class="flex flex-col sm:flex-row flex-auto sm:items-center min-w-0 my-8 sm:my-12">
                <!-- Avatar and name -->
                <div class="flex flex-auto items-center min-w-0">
                    <div class="flex-0 w-16 h-16 rounded-full overflow-hidden">
                        <img class="w-full h-full" src={{setup.Chain?.Icon}}>
                    </div>
                    <div class="flex flex-col min-w-0 ml-4">
                        <ng-container>
                            <div
                                class="text-2xl md:text-5xl font-semibold tracking-tight leading-7 md:leading-snug truncate">
                                {{setup.Chain?.Symbol}}
                            </div>
                        </ng-container>
                        <div *ngIf="setup.Chain?.Description" class="flex items-center">
                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:badge-check'"></mat-icon>
                            <div class="ml-1.5 leading-6 truncate text-secondary">{{setup.Chain?.Description}}</div>
                        </div>
                    </div>
                </div>
                <!-- Actions -->
                <div class="flex items-center mt-6 sm:mt-0 sm:ml-2 space-x-3 hidden md:block">
                    <a href="{{setup.Chain?.Url}}" target="_blank">
                        <button class="blockcore-mat-button-rounded" mat-flat-button [color]="'primary'">
                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:chevron-double-right'"></mat-icon>
                            <span class="ml-2">Website</span>
                        </button>
                    </a>
                </div>
            </div>

        </div>
    </div>

    <!-- Main -->
    <div class="flex-auto border-t -mt-px pt-4 sm:pt-6">
        <div class="w-full max-w-screen-xl mx-auto">
            <div *ngIf="setup.chains" class="flex flex-col flex-auto w-full">
                <div class="w-full max-w-screen-xl mx-auto p-6 md:p-8">

                    <app-search></app-search>

                    <app-progress class="centered" *ngIf="!blocks">Loading latest blocks...</app-progress>

                    <div *ngIf="blocks" class="grid grid-cols-1 xl:grid-cols-1 gap-8 w-full mt-8">

                        <div class="flex flex-col flex-auto">
                            <div class="flex items-center">

                                <blockcore-block *ngIf="address" class="flex items-center w-full p-6 filter-info mt-8">
                                    <mat-icon class="icon-size-16 mr-6 text-blue-500"
                                        [svgIcon]="'heroicons_outline:cube'">
                                    </mat-icon>

                                    <div class="flex flex-col">
                                        <div class="text-2xl font-semibold leading-tight break-all">
                                            <span>Orphan blocks:
                                            </span><span class=" text-primary "> {{total}}</span>
                                        </div>
                                    </div>
                                </blockcore-block>
                            </div>
                            <div appDetectScroll class="scrollable" (onScroll)="onScroll($event)" [bottomOffset]="400" [topOffset]="400">
                                <blockcore-block class="flex items-center w-full p-6 filter-info justify-between"
                                    *ngFor="let item of blocks">
                                    <mat-icon class="icon-size-12 mr-6" [svgIcon]="'heroicons_outline:cube'">
                                    </mat-icon>
                                    <div class="flex flex-col w-full">
                                        <div class="text-2xl font-semibold leading-tight text-primary break-all">
                                            <a style="cursor:pointer"
                                                (click)="showBlockDetails(item.blockHash)">{{item.blockIndex}}</a> | <a
                                                style="cursor:pointer"
                                                (click)="showBlockDetails(item.blockHash)">{{item.blockHash |
                                                slice:0:20}}</a>
                                        </div>
                                        <div class="text-md text-secondary">{{item.created | date:'dd/MM/yyyy hh:mm'}}</div>
                                    </div>
                                    <div class="flex flex-col">

                                        <div class="text-1xl font-semibold leading-tight">
                                            <ng-container>
                                                <div
                                                    class="font-semibold tracking-tight leading-7 md:leading-snug truncate inline-flex  mat-flat-button">
                                                    <div class="hidden md:block mr-3">Transaction Count:</div>
                                                    <div class="inline-flex text-primary"
                                                        matTooltip="Transaction Count: {{item.block.transactionCount}}">
                                                        {{item.block.transactionCount}}</div>

                                                </div>
                                            </ng-container>
                                        </div>
                                    </div>
                                    <div class="flex">
                                    </div>
                                </blockcore-block>
                                <app-progress *ngIf="loading"></app-progress>
                            </div>

                        </div>
                    </div>


                    <div *ngIf="displayBlock">
                        <blockcore-block class="flex items-center w-full p-6 filter-info mt-8">
                            <mat-icon class="icon-size-16 mr-6 text-blue-500"
                                [svgIcon]="'heroicons_outline:clipboard-list'">
                            </mat-icon>

                            <div class="flex flex-col">
                                <div class="text-2xl font-semibold leading-tight break-all"><span>Block Hash:
                                        {{displayBlock.blockHash}}
                                    </span>
                                </div>
                            </div>
                        </blockcore-block>
                        <div class="prose max-w-full">
                            <pre style="text-align:left; overflow: auto;">{{displayBlock | json}}</pre>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
