<div class="flex flex-col flex-auto min-w-0">
    <!-- Header -->
    <div>
        <div class="flex flex-col w-full max-w-screen-xl mx-auto px-6 sm:px-8">
            <div class="flex flex-col sm:flex-row flex-auto sm:items-center min-w-0 my-8 sm:my-12">
                <!-- Logo and name -->
                <div class="flex flex-auto items-center min-w-0">
                    <div class="flex-0 w-16 h-16 rounded-md overflow-hidden">
                        <img class="w-full h-full" src="assets/images/logo/logo.svg">
                    </div>
                    <div class="flex flex-col min-w-0 ml-4">
                        <ng-container *transloco="let t">
                            <div
                                class="text-2xl md:text-5xl font-semibold tracking-tight leading-7 md:leading-snug truncate">
                                Blockcore Explorer</div>
                        </ng-container>
                    </div>
                </div>
                <!-- Actions -->
                <div class="flex items-center mt-6 sm:mt-0 sm:ml-2 space-x-3 hidden md:block">
                    <a href="mailto:post@blockcore.net" target="_blank">
                        <button class="blockcore-mat-button-rounded bg-accent-700" mat-flat-button [color]="'accent'">
                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:mail'"></mat-icon>
                            <span class="ml-2">Contact</span>
                        </button>
                    </a>
                    <a href="{{setup.Chain?.Url}}" target="_blank">
                        <button class="blockcore-mat-button-rounded" mat-flat-button [color]="'primary'">
                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:chevron-double-right'"></mat-icon>
                            <span class="ml-2">Blockcore</span>
                        </button>
                    </a>
                </div>
            </div>

        </div>
    </div>

    <!-- Main -->
    <div class="flex-auto border-t -mt-px pt-4 sm:pt-6">
        <div class="w-full max-w-screen-xl mx-auto">
            <app-progress *ngIf="!setup.chains"></app-progress>

            <div *ngIf="setup.chains" class="flex flex-col flex-auto w-full">
                <div class="flex flex-wrap w-full max-w-screen-xl mx-auto p-6 md:p-8">

                    <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-1 gap-6 w-full min-w-0 mb-6">
                        <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                            <div class="w-full max-w-screen-xl mx-auto">

                                <div
                                    class="flex flex-col sm:flex-row items-center justify-between w-full max-w-full sm:max-w-none">
                                    <mat-form-field class="blockcore-mat-no-subscript w-full sm:w-36">
                                        <mat-select [(ngModel)]="optionValue">
                                            <ng-container *ngFor="let chain of setup.chains;">
                                                <mat-option [selected]="chain.symbol === optionValue"
                                                    [value]="chain.symbol">{{chain.name}}
                                                </mat-option>
                                            </ng-container>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field
                                        class="blockcore-mat-no-subscript w-full sm:w-full mt-6 sm:mt-6 mb-6 sm:mb-6 sm:ml-4"
                                        [floatLabel]="'always'">
                                        <mat-icon matPrefix class="icon-size-5" [svgIcon]="'heroicons_solid:search'">
                                        </mat-icon>
                                        <input type="search" (keyup.enter)="search()" [(ngModel)]="searchTerm"
                                            placeholder="Search for address, transaction or block." autocomplete="off"
                                            matInput #query>
                                    </mat-form-field>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div *ngIf="tickers" class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-5 gap-6 w-full min-w-0">
                        <ng-container *ngFor="let chain of setup.chains">
                            <div
                                class="flex flex-col flex-auto items-center bg-card shadow rounded-2xl overflow-hidden">
                                <!-- Logo & Info -->
                                <div class="flex flex-col flex-auto w-full p-8 text-center">
                                    <a [routerLink]="['/'+chain.symbol.toLowerCase(), 'explorer']">
                                        <div class="w-12 h-12 mx-auto overflow-hidden">
                                            <img class="w-full h-full object-cover" [src]="chain.icon" loading="lazy">
                                        </div>
                                        <div class="mt-6 font-medium">{{chain.name}}</div>
                                        <div class="text-secondary">{{chain.symbol}}</div>
                                    </a>
                                </div>
                                <!-- <div class="flex items-center w-full border-t divide-x" *ngIf="(tickers && chain.coin)">

                                    <a class="flex flex-auto items-center justify-center py-4 hover:bg-hover" [href]="">

                                        <span class="ml-2"> {{ tickers[chain.coin].usd.toFixed(8) }} <span
                                                class="btccolor">USDT</span></span>
                                    </a>
                                    <a class="flex flex-auto items-center justify-center py-4 hover:bg-hover" [href]="">

                                        <span class="ml-2">
                                            <span *ngIf="tickers[chain.coin].usd_24h_change === 0"
                                                class="chain-home-ticker-change">0 %</span>
                                            <span
                                                *ngIf="tickers[chain.coin].usd_24h_change && tickers[chain.coin].usd_24h_change !== 0"
                                                class="chain-home-ticker-change"
                                                [ngClass]="getChangeClass(tickers[chain.coin].usd_24h_change)">{{tickers[chain.coin].usd_24h_change.toFixed(2)}}%</span>
                                        </span>
                                    </a>
                                </div>

                                <div class="flex items-center w-full border-t divide-x" *ngIf="chain.symbol === 'RSC'">

                                    <a class="flex flex-auto items-center justify-center py-4 hover:bg-hover" [href]="">

                                        <span class="ml-2">1.01000000 <span class="btccolor">USDT</span></span>
                                    </a>
                                    <a class="flex flex-auto items-center justify-center py-4 hover:bg-hover" [href]="">

                                        <span class="ml-2">
                                            <span class="chain-home-ticker-change positive">ICO Price</span>

                                        </span>
                                    </a>
                                </div>

                                <div class="flex items-center w-full border-t divide-x" *ngIf="chain.symbol === 'SBC'">

                                    <a class="flex flex-auto items-center justify-center py-4 hover:bg-hover" [href]="">

                                        <span class="ml-2">0.08000000 <span class="btccolor">USDT</span></span>
                                    </a>
                                    <a class="flex flex-auto items-center justify-center py-4 hover:bg-hover" [href]="">

                                        <span class="ml-2">
                                            <span class="chain-home-ticker-change positive">ICO Price</span>

                                        </span>
                                    </a>
                                </div> -->
                            </div>
                        </ng-container>

                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
