<div class="flex flex-col flex-auto min-w-0">
    <!-- Header -->
    <div class="bg-card">
        <div class="flex flex-col w-full max-w-screen-xl mx-auto px-6 sm:px-8">
            <div class="flex flex-col sm:flex-row flex-auto sm:items-center min-w-0 my-8 sm:my-12">
                <!-- Logo and name -->
                <div class="flex flex-auto items-center min-w-0">
                    <div class="flex-0 w-16 h-16 rounded-full overflow-hidden">
                        <img class="w-full h-full" src="assets/images/logo/logo.svg">
                    </div>
                    <div class="flex flex-col min-w-0 ml-4">
                        <ng-container *transloco="let t">
                            <div
                                class="text-2xl md:text-5xl font-semibold tracking-tight leading-7 md:leading-snug truncate">
                                {{t('welcome-to')}} Blockcore Explorer!</div>
                        </ng-container>
                    </div>
                </div>
                <!-- Actions -->
                <div class="flex items-center mt-6 sm:mt-0 sm:ml-2 space-x-3">
                    <button class="blockcore-mat-button-rounded bg-accent-700" mat-flat-button [color]="'accent'">
                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:mail'"></mat-icon>
                        <span class="ml-2">Contact</span>
                    </button>
                    <button class="blockcore-mat-button-rounded" mat-flat-button [color]="'primary'">
                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:chevron-double-right'"></mat-icon>
                        <span class="ml-2">Blockcore</span>
                    </button>
                </div>
            </div>
            <!-- Home selector -->
            <div class="relative flex self-start pt-2 pb-1 pl-5 pr-4 cursor-pointer overflow-hidden rounded-t-xl border border-b-0 bg-default"
                matRipple>
                <div class="flex items-center">
                    <div class="overflow-hidden">
                        <div class="font-medium leading-6 truncate">{{selectNetwork}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Main -->
    <div class="flex-auto border-t -mt-px pt-4 sm:pt-6">
        <div class="w-full max-w-screen-xl mx-auto">
            <!-- Tabs -->
            <mat-tab-group class="sm:px-2" [animationDuration]="'0'">
                <!-- Explorer -->
                <mat-tab label={{selectNetwork}}>
                    <ng-template matTabContent>

                        <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-1 gap-6 w-full min-w-0 mb-6">
                            <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                                <div class="w-full max-w-screen-xl mx-auto">
                                    <form [formGroup]="searchForm">
                                        <div class="flex flex-col sm:flex-row items-center justify-between w-full max-w-full sm:max-w-none">
                                            <mat-form-field class="blockcore-mat-no-subscript w-full sm:w-36">
                                                <mat-select [value]="'BTC'">
                                                    <mat-option [value]="'BTC'">Bitcoin</mat-option>
                                                    <ng-container *ngFor="let network of setup.chains;">
                                                        <mat-option [value]="network.symbol">{{network.name}}</mat-option>
                                                    </ng-container>
                                                </mat-select>
                                            </mat-form-field>
                                            <mat-form-field class="blockcore-mat-no-subscript w-full sm:w-full mt-6 sm:mt-6 mb-6 sm:mb-6 sm:ml-4"
                                                [floatLabel]="'always'">
                                                <mat-icon matPrefix class="icon-size-5" [svgIcon]="'heroicons_solid:search'"></mat-icon>
                                                <input placeholder="Search for address, transaction or block." autocomplete="off" matInput #query>
                                            </mat-form-field>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-5 gap-6 w-full min-w-0">
                            <ng-container *ngFor="let chain of setup.chains">
                                <div class="flex flex-col flex-auto items-center bg-card shadow rounded-2xl overflow-hidden">
                                    <!-- Logo & Info -->
                                    <div class="flex flex-col flex-auto w-full p-8 text-center">
                                        <a [routerLink]="['/'+chain.symbol.toLowerCase(), 'ticker']">
                                            <div class="w-12 h-12 mx-auto overflow-hidden">
                                                <img class="w-full h-full object-cover" [src]="chain.icon">
                                            </div>
                                            <div class="mt-6 font-medium">{{chain.name}}</div>
                                            <div class="text-secondary">{{chain.symbol}}</div>
                                        </a>
                                    </div>
                                    <div class="flex items-center w-full border-t divide-x" *ngIf="tickers && chain.coin">
                                        <a
                                            class="flex flex-auto items-center justify-center py-4 hover:bg-hover"
                                            [href]="">

                                            <span class="ml-2"> {{ tickers[chain.coin].btc.toFixed(8) }} <span class="btccolor">₿</span></span>
                                        </a>
                                        <a
                                            class="flex flex-auto items-center justify-center py-4 hover:bg-hover"
                                            [href]="">

                                            <span class="ml-2">
                                                <span *ngIf="tickers[chain.coin].btc_24h_change === 0" class="chain-home-ticker-change" >0 %</span>
                                                <span *ngIf="tickers[chain.coin].btc_24h_change && tickers[chain.coin].btc_24h_change !== 0" class="chain-home-ticker-change" [ngClass]="getChangeClass(tickers[chain.coin].btc_24h_change)">{{tickers[chain.coin].btc_24h_change.toFixed(2)}}%</span>
                                            </span>
                                        </a>
                                    </div>


                                </div>
                            </ng-container>

                        </div>
                    </ng-template>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>



</div>
