/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and blockcore's base styles.
/* ----------------------------------------------------------------------------------------------------- */
body {
    overflow-y: scroll;
  }
  .mode-aware {
    --stroke-pos: 2px;
    --stroke-neg: -2px;
    --stroke-color: rgba(255, 255, 255, 0.2);
    filter: drop-shadow(var(--stroke-pos) 0 0 var(--stroke-color))
      drop-shadow(var(--stroke-neg) 0 var(--stroke-color))
      drop-shadow(0 var(--stroke-pos) 0 var(--stroke-color))
      drop-shadow(0 var(--stroke-neg) 0 var(--stroke-color))
      drop-shadow(var(--stroke-pos) var(--stroke-pos) 0 var(--stroke-color))
      drop-shadow(var(--stroke-pos) var(--stroke-neg) 0 var(--stroke-color))
      drop-shadow(var(--stroke-neg) var(--stroke-pos) 0 var(--stroke-color))
      drop-shadow(var(--stroke-neg) var(--stroke-neg) 0 var(--stroke-color));
   }
html{
    --accent: #f3b623;
    --btc: #f3b623;
    --positive: #63c700;
    --negative: #f80606;
}
.btccolor{
    color: var(--btc);
}
.back-chain-color{
    background-color: var(--btc);
}
.chaincolor{
    color: var(--accent);
}
.positive {
    color: var(--positive);
 }
.negative {
    color: var(--negative);
 }

