@import "variables";
/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and blockcore's base styles.
/* ----------------------------------------------------------------------------------------------------- */
html {
    overflow-y: scroll;
  }
  .mode-aware {
    --stroke-pos: 2px;
    --stroke-neg: -2px;
    --stroke-color: rgba(255, 255, 255, 0.2);
    filter: drop-shadow(var(--stroke-pos) 0 0 var(--stroke-color))
      drop-shadow(var(--stroke-neg) 0 var(--stroke-color))
      drop-shadow(0 var(--stroke-pos) 0 var(--stroke-color))
      drop-shadow(0 var(--stroke-neg) 0 var(--stroke-color))
      drop-shadow(var(--stroke-pos) var(--stroke-pos) 0 var(--stroke-color))
      drop-shadow(var(--stroke-pos) var(--stroke-neg) 0 var(--stroke-color))
      drop-shadow(var(--stroke-neg) var(--stroke-pos) 0 var(--stroke-color))
      drop-shadow(var(--stroke-neg) var(--stroke-neg) 0 var(--stroke-color));
   }
// body{
//     touch-action: pan-x pan-y;
// }
.btccolor{
    color: var(--btc);
}
.back-chain-color{
    background-color: var(--accent) !important;
}
.chaincolor{
    color: var(--accent);
}
.positive {
    color: var(--positive);
 }
.negative {
    color: var(--negative);
 }
 .apexcharts-menu
 {
    color: var(--black);
 }
 .scrollable {
    display: block !important;
    min-height: 100px;
    max-height: 400px;
    overflow-y: auto;
    padding-right: 0.4em;
 }
 .clickable {
    cursor: pointer;
 }

 .error {
    color: var(--negative);
 }

 .error-details {
    border: 1px solid var(--foreground);
    margin: 1em;
    padding: 1em;
    text-align: left;
    font-size: 0.8em;
    max-height: 200px;
    overflow: scroll;
    box-shadow: 0px 8px 16px 0px var(--shadow);
 }

 .error-details div {
    margin-bottom: 1em;
 }

 .error-details-stack {
    font-family: Roboto Mono, monospace;
    white-space: pre;
    font-size: 1em;
 }

 blockcore-block {
    position: relative;
    display: flex;
    overflow: hidden;
    margin-bottom: 15px;
    @apply rounded-2xl shadow bg-card;

    /* Flippable */
    &.blockcore-block-flippable {
        border-radius: 0;
        overflow: visible;
        transform-style: preserve-3d;
        transition: transform 1s;
        perspective: 600px;
        background: transparent;
        @apply shadow-none;

        &.blockcore-block-face-back {

            .blockcore-block-front {
                visibility: hidden;
                opacity: 0;
                transform: rotateY(180deg);
            }

            .blockcore-block-back {
                visibility: visible;
                opacity: 1;
                transform: rotateY(360deg);
            }
        }

        .blockcore-block-front,
        .blockcore-block-back {
            display: flex;
            flex-direction: column;
            flex: 1 1 auto;
            z-index: 10;
            transition: transform 0.5s ease-out 0s, visibility 0s ease-in 0.2s, opacity 0s ease-in 0.2s;
            backface-visibility: hidden;
            @apply rounded-2xl shadow bg-card;
        }

        .blockcore-block-front {
            position: relative;
            opacity: 1;
            visibility: visible;
            transform: rotateY(0deg);
            overflow: hidden;
        }

        .blockcore-block-back {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            opacity: 0;
            visibility: hidden;
            transform: rotateY(180deg);
            overflow: hidden auto;
        }
    }
}

.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: var(--blockcore-primary);
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .grid-list-configure-api {
    font-size: 0.95em;
    margin: 0.9em;
    display: grid;
    gap: 0.3em;
    grid-template-columns: auto;
 }

 .grid-list-configure-api-inner {
    font-size: 0.85em;
    margin: 0.9em;
    display: grid;
    gap: 0.3em;
    grid-template-columns: auto auto;
 }
