<div class="flex flex-col items-center justify-center w-full h-full">
    <div class="w-full max-w-3xl">
        <div class="max-w-none mx-auto prose prose-sm">
            <img
                class="w-20"
                src="assets/images/logo/logo.svg"
                alt="Blockcore">
            <h1>Blockcore</h1>
            <p class="text-justify">
                Blockcore is the foundation for realizing blockchains and includes core functionality to create your own custom blockchain with a lot of tooling supporting your blockchain.
            </p>
            <p class="text-justify">
                Blockcore is entirely open source and built on .NET and has an active and engaged community that contributes to the ecosystem.
            </p>
            <p class="text-justify">
                The tooling as part of the Blockcore platform includes; Block Explorer, Block Indexing, Block Analytics, Wallets, API Wallet Service, Developer Tooling, Documentation and more.
            </p>
            <p class="text-justify">
                Blockcore is under continuous development to stay at the cutting edge of Bitcoin and blockchain technology.
            </p>
        </div>
        <div>

        </div>
    </div>
</div>
