<!-- Button -->
<button
    mat-icon-button
    [matMenuTriggerFor]="coinActions">
    <span class="relative">
        <img
            class="w-7 h-7 rounded-full"
            *ngIf="showAvatar && coin.logo"
            [src]="coin.logo">
        <mat-icon
            *ngIf="!showAvatar || !coin.logo"
            [svgIcon]="'heroicons_outline:light-bulb'"></mat-icon>
    </span>
</button>

<mat-menu
    [xPosition]="'before'"
    #coinActions="matMenu">
    <button mat-menu-item>
        <mat-icon [svgIcon]="'heroicons_outline:presentation-chart-line'"></mat-icon>
        <span>{{coin.name}}</span>
    </button>
    <mat-divider class="my-2"></mat-divider>
    <button mat-menu-item>
        <mat-icon [svgIcon]="'heroicons_outline:user-circle'"></mat-icon>
        <span>Discord</span>
    </button>
    <mat-divider class="my-2"></mat-divider>
    <button mat-menu-item>
        <mat-icon [svgIcon]="'heroicons_outline:user-circle'"></mat-icon>
        <span>Website</span>
    </button>
</mat-menu>
